SmartCity.Flow.json
[
    {
        "id": "smart_city_tab",
        "type": "tab",
        "label": "Smart City Dashboard",
        "disabled": false,
        "info": "Smart City Data Collection and Analysis System"
    },
    {
        "id": "mongodb_config",
        "type": "mongodb3",
        "name": "MongoDB Connection",
        "uri": "mongodb://admin:1234@mymongo:27017/smartcity?authSource=admin",
        "options": "",
        "parallelism": "-1",
        "parallelismLimit": ""
    },
    {
        "id": "ui_group_aqi",
        "type": "ui_group",
        "name": "Air Quality Monitoring",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_traffic",
        "type": "ui_group",
        "name": "Traffic Analysis",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_weather",
        "type": "ui_group",
        "name": "Weather Data",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Real-time Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "inject_aqi",
        "type": "inject",
        "z": "smart_city_tab",
        "name": "Trigger every 1.5min",
        "props": [{"p": "payload"}],
        "repeat": "90",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["http_request_aqi"]]
    },
    {
        "id": "http_request_aqi",
        "type": "http request",
        "z": "smart_city_tab",
        "name": "Fetch Air Quality Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.data.gov.hk/v1/historical-archive/get-file?url=https%3A%2F%2Fdata.weather.gov.hk%2FweatherAPI%2Fhko_data%2Fregional-weather%2Flatest_1min_temperature.csv&time=20231201-1200",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "sendsession": false,
        "x": 380,
        "y": 100,
        "wires": [["function_parse_aqi", "debug_aqi"]]
    },
    {
        "id": "function_parse_aqi",
        "type": "function",
        "z": "smart_city_tab",
        "name": "Parse Air Quality Data",
        "func": "// Simulate data parsing (should be adjusted according to actual API response)\nvar timestamp = new Date();\n\n// Example: Create simulated air quality data\nvar stations = [\n    {name: \"Central & Western\", lat: 22.2855, lon: 114.1577},\n    {name: \"Eastern\", lat: 22.2841, lon: 114.2244},\n    {name: \"Kwun Tong\", lat: 22.3122, lon: 114.2259},\n    {name: \"Sham Shui Po\", lat: 22.3336, lon: 114.1628},\n    {name: \"Kwai Tsing\", lat: 22.3644, lon: 114.1289}\n];\n\nvar records = stations.map(function(station) {\n    // Generate simulated AQI data (should be extracted from API response)\n    var aqi = Math.floor(Math.random() * 60) + 20; // Range: 20-80 for better chart scale\n    var pm25 = Math.floor(Math.random() * 30) + 10;\n    \n    var healthRisk = \"Low\";\n    if (aqi > 100) healthRisk = \"High\";\n    else if (aqi > 50) healthRisk = \"Moderate\";\n    \n    return {\n        station: station.name,\n        aqi: aqi,\n        health_risk: healthRisk,\n        pollutants: {\n            pm25: pm25,\n            pm10: pm25 * 1.5,\n            no2: Math.floor(Math.random() * 80) + 20,\n            so2: Math.floor(Math.random() * 30) + 5,\n            o3: Math.floor(Math.random() * 60) + 10\n        },\n        location: {\n            type: \"Point\",\n            coordinates: [station.lon, station.lat]\n        },\n        timestamp: timestamp,\n        raw_data: msg.payload\n    };\n});\n\nmsg.payload = records;\nmsg.collection = \"air_quality\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 100,
        "wires": [["mongodb_insert_aqi", "function_prepare_chart_aqi"]]
    },
    {
        "id": "mongodb_insert_aqi",
        "type": "mongodb3 in",
        "z": "smart_city_tab",
        "service": "mongodb_config",
        "configNode": "mongodb_config",
        "name": "Store to MongoDB",
        "collection": "air_quality",
        "operation": "insertMany",
        "x": 970,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "debug_aqi",
        "type": "debug",
        "z": "smart_city_tab",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "function_prepare_chart_aqi",
        "type": "function",
        "z": "smart_city_tab",
        "name": "Prepare Chart Data",
        "func": "// Prepare data for Dashboard\nvar chartMessages = [];\nvar gaugeData = 0;\n\nif (Array.isArray(msg.payload)) {\n    // Calculate average AQI\n    var totalAqi = 0;\n    \n    msg.payload.forEach(function(record) {\n        totalAqi += record.aqi;\n        // Create a message for each station\n        chartMessages.push({\n            payload: record.aqi,\n            topic: record.station\n        });\n    });\n    \n    gaugeData = Math.round(totalAqi / msg.payload.length);\n}\n\n// Return: first output is bar chart data (multiple messages), second output is gauge data\nreturn [\n    chartMessages,\n    {payload: gaugeData, topic: \"Average AQI\"}\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 180,
        "wires": [["ui_chart_aqi"], ["ui_gauge_aqi"]]
    },
    {
        "id": "ui_chart_aqi",
        "type": "ui_chart",
        "z": "smart_city_tab",
        "name": "AQI Bar Chart",
        "group": "ui_group_aqi",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Air Quality Index by District",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1250,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "ui_gauge_aqi",
        "type": "ui_gauge",
        "z": "smart_city_tab",
        "name": "Average AQI",
        "group": "ui_group_aqi",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "City Average AQI",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#e60000"],
        "seg1": "50",
        "seg2": "75",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject_weather",
        "type": "inject",
        "z": "smart_city_tab",
        "name": "Trigger every 3min",
        "props": [{"p": "payload"}],
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [["http_request_weather"]]
    },
    {
        "id": "http_request_weather",
        "type": "http request",
        "z": "smart_city_tab",
        "name": "Fetch Weather Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=rhrread",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "sendsession": false,
        "x": 370,
        "y": 300,
        "wires": [["function_parse_weather", "debug_weather"]]
    },
    {
        "id": "function_parse_weather",
        "type": "function",
        "z": "smart_city_tab",
        "name": "Parse Weather Data",
        "func": "// Parse weather data from HKO API\nvar data = msg.payload;\nvar timestamp = new Date();\n\nif (data && data.temperature && data.temperature.data) {\n    var records = data.temperature.data.map(function(item) {\n        return {\n            location: item.place,\n            temperature: item.value,\n            humidity: data.humidity ? data.humidity.data.find(h => h.place === item.place)?.value : null,\n            timestamp: timestamp,\n            raw_data: data\n        };\n    });\n    \n    msg.payload = records;\n    msg.collection = \"weather_data\";\n    return msg;\n}\n\n// If API format is different, use simulated data\nvar locations = [\"HK Observatory\", \"King's Park\", \"Wong Chuk Hang\", \"Ta Kwu Ling\", \"Lau Fau Shan\"];\nvar records = locations.map(function(location) {\n    return {\n        location: location,\n        temperature: Math.floor(Math.random() * 10) + 18, // Range: 18-28°C\n        humidity: Math.floor(Math.random() * 30) + 60,\n        timestamp: timestamp\n    };\n});\n\nmsg.payload = records;\nmsg.collection = \"weather_data\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [["mongodb_insert_weather", "function_prepare_chart_weather"]]
    },
    {
        "id": "mongodb_insert_weather",
        "type": "mongodb3 in",
        "z": "smart_city_tab",
        "service": "mongodb_config",
        "configNode": "mongodb_config",
        "name": "Store to MongoDB",
        "collection": "weather_data",
        "operation": "insertMany",
        "x": 970,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "debug_weather",
        "type": "debug",
        "z": "smart_city_tab",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "function_prepare_chart_weather",
        "type": "function",
        "z": "smart_city_tab",
        "name": "Prepare Temperature Chart",
        "func": "// Prepare temperature trend data\nvar chartMessages = [];\n\nif (Array.isArray(msg.payload)) {\n    msg.payload.forEach(function(record) {\n        // Create a message for each location\n        chartMessages.push({\n            payload: record.temperature,\n            topic: record.location\n        });\n    });\n}\n\n// Return multiple messages, each representing a location's temperature\nreturn [chartMessages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 380,
        "wires": [["ui_chart_temperature"]]
    },
    {
        "id": "ui_chart_temperature",
        "type": "ui_chart",
        "z": "smart_city_tab",
        "name": "Temperature Trend",
        "group": "ui_group_weather",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Temperature by Location",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "15",
        "ymax": "30",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1230,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "inject_traffic",
        "type": "inject",
        "z": "smart_city_tab",
        "name": "Trigger every 1min",
        "props": [{"p": "payload"}],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [["function_simulate_traffic"]]
    },
    {
        "id": "function_simulate_traffic",
        "type": "function",
        "z": "smart_city_tab",
        "name": "Simulate Traffic Data",
        "func": "// Simulate traffic data (should be replaced with real API calls)\nvar timestamp = new Date();\nvar hour = timestamp.getHours();\n\n// Simulate traffic density based on time (peak hours are more congested)\nvar isPeakHour = (hour >= 7 && hour <= 9) || (hour >= 17 && hour <= 19);\n\nvar locations = [\n    {name: \"Central Connaught Rd\", lat: 22.2819, lon: 114.1577},\n    {name: \"Causeway Bay Hennessy Rd\", lat: 22.2793, lon: 114.1847},\n    {name: \"Mong Kok Nathan Rd\", lat: 22.3193, lon: 114.1694},\n    {name: \"Tsim Sha Tsui Canton Rd\", lat: 22.2976, lon: 114.1722},\n    {name: \"Kwun Tong Rd\", lat: 22.3122, lon: 114.2259}\n];\n\nvar densityLevels = [\"Smooth\", \"Slow\", \"Congested\"];\n\nvar records = locations.map(function(location) {\n    var density;\n    if (isPeakHour) {\n        density = densityLevels[Math.floor(Math.random() * 2) + 1]; // Slow or Congested\n    } else {\n        density = densityLevels[Math.floor(Math.random() * 2)]; // Smooth or Slow\n    }\n    \n    var vehicleCount = 0;\n    var avgSpeed = 0;\n    \n    if (density === \"Smooth\") {\n        vehicleCount = Math.floor(Math.random() * 40) + 10;  // 10-50 vehicles\n        avgSpeed = Math.floor(Math.random() * 20) + 50;     // 50-70 km/h\n    } else if (density === \"Slow\") {\n        vehicleCount = Math.floor(Math.random() * 50) + 60;  // 60-110 vehicles\n        avgSpeed = Math.floor(Math.random() * 20) + 30;     // 30-50 km/h\n    } else {\n        vehicleCount = Math.floor(Math.random() * 50) + 110; // 110-160 vehicles\n        avgSpeed = Math.floor(Math.random() * 20) + 10;     // 10-30 km/h\n    }\n    \n    return {\n        location: location.name,\n        traffic_density: density,\n        vehicle_count: vehicleCount,\n        average_speed: avgSpeed,\n        timestamp: timestamp,\n        coordinates: {\n            type: \"Point\",\n            coordinates: [location.lon, location.lat]\n        }\n    };\n});\n\nmsg.payload = records;\nmsg.collection = \"traffic_flow\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [["mongodb_insert_traffic", "function_prepare_traffic_charts", "debug_traffic"]]
    },
    {
        "id": "mongodb_insert_traffic",
        "type": "mongodb3 in",
        "z": "smart_city_tab",
        "service": "mongodb_config",
        "configNode": "mongodb_config",
        "name": "Store to MongoDB",
        "collection": "traffic_flow",
        "operation": "insertMany",
        "x": 710,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "debug_traffic",
        "type": "debug",
        "z": "smart_city_tab",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "function_prepare_traffic_charts",
        "type": "function",
        "z": "smart_city_tab",
        "name": "Prepare Traffic Charts",
        "func": "// Prepare multiple traffic visualization data\nvar densityCounts = {\n    \"Smooth\": 0,\n    \"Slow\": 0,\n    \"Congested\": 0\n};\n\nvar speedMessages = [];\nvar volumeMessages = [];\n\nif (Array.isArray(msg.payload)) {\n    msg.payload.forEach(function(record) {\n        // Count traffic density\n        if (densityCounts.hasOwnProperty(record.traffic_density)) {\n            densityCounts[record.traffic_density]++;\n        }\n        \n        // Prepare speed chart data\n        speedMessages.push({\n            topic: record.location,\n            payload: record.average_speed\n        });\n        \n        // Prepare volume chart data\n        volumeMessages.push({\n            topic: record.location,\n            payload: record.vehicle_count\n        });\n    });\n}\n\n// Prepare density pie chart data\nvar densityMessages = [];\nfor (var density in densityCounts) {\n    densityMessages.push({\n        topic: density,\n        payload: densityCounts[density]\n    });\n}\n\n// Return: 0-density pie, 1-speed bar, 2-volume bar\nreturn [densityMessages, speedMessages, volumeMessages];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 620,
        "wires": [["ui_chart_traffic_density"], ["ui_chart_traffic_speed"], ["ui_chart_traffic_volume"]]
    },
    {
        "id": "ui_chart_traffic_density",
        "type": "ui_chart",
        "z": "smart_city_tab",
        "name": "Traffic Density Distribution",
        "group": "ui_group_traffic",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Traffic Density Status",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#00b500", "#e6e600", "#e60000"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 580,
        "wires": [[]]
    },
    {
        "id": "ui_chart_traffic_speed",
        "type": "ui_chart",
        "z": "smart_city_tab",
        "name": "Average Speed by Location",
        "group": "ui_group_traffic",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Average Traffic Speed (km/h)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 640,
        "wires": [[]]
    },
    {
        "id": "ui_chart_traffic_volume",
        "type": "ui_chart",
        "z": "smart_city_tab",
        "name": "Vehicle Count by Location",
        "group": "ui_group_traffic",
        "order": 3,
        "width": "12",
        "height": "5",
        "label": "Vehicle Count by Location",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 700,
        "wires": [[]]
    },
    {
        "id": "comment_1",
        "type": "comment",
        "z": "smart_city_tab",
        "name": "Air Quality Data Collection Flow",
        "info": "Fetch air quality data from data.gov.hk every 15 minutes\nParse and store to MongoDB\nUpdate Dashboard display",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "comment_2",
        "type": "comment",
        "z": "smart_city_tab",
        "name": "Weather Data Collection Flow",
        "info": "Fetch weather data from HKO API every 30 minutes\nIncluding temperature, humidity, etc.",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "comment_3",
        "type": "comment",
        "z": "smart_city_tab",
        "name": "Traffic Data Collection Flow (Simulated)",
        "info": "Simulate traffic data every 10 minutes\nShould be replaced with real traffic API in production",
        "x": 200,
        "y": 460,
        "wires": []
    }
]
