TunnelRelief.Flow.json
[
    {
        "id": "tunnel_tab",
        "type": "tab",
        "label": "HK Tunnel Relief System",
        "disabled": false,
        "info": "Hong Kong Cross-Harbour Tunnel Congestion Relief & Green Mobility Optimization System"
    },
    {
        "id": "mongodb_config",
        "type": "mongodb3",
        "name": "MongoDB Connection",
        "uri": "mongodb://admin:1234@mymongo:27017/smartcity?authSource=admin",
        "options": "",
        "parallelism": "-1",
        "parallelismLimit": ""
    },
    {
        "id": "ui_tab_tunnel",
        "type": "ui_tab",
        "name": "Tunnel Relief Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_congestion",
        "type": "ui_group",
        "name": "Tunnel Congestion Analysis",
        "tab": "ui_tab_tunnel",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_carbon",
        "type": "ui_group",
        "name": "Carbon Emission Monitoring",
        "tab": "ui_tab_tunnel",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_weather",
        "type": "ui_group",
        "name": "Weather Impact Analysis",
        "tab": "ui_tab_tunnel",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_kpi",
        "type": "ui_group",
        "name": "KPI Dashboard",
        "tab": "ui_tab_tunnel",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "comment_main",
        "type": "comment",
        "z": "tunnel_tab",
        "name": "Main Data Collection & Analysis Flow",
        "info": "Collects real-time weather and air quality data from HK Gov APIs, simulates tunnel traffic, analyzes congestion and calculates carbon emissions",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject_scheduler",
        "type": "inject",
        "z": "tunnel_tab",
        "name": "Trigger every 1min",
        "props": [{"p": "payload"}],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [["http_weather"]]
    },
    {
        "id": "http_weather",
        "type": "http request",
        "z": "tunnel_tab",
        "name": "Fetch HKO Weather Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=rhrread",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "sendsession": false,
        "x": 370,
        "y": 100,
        "wires": [["function_parse_weather", "debug_weather"]]
    },
    {
        "id": "inject_airquality",
        "type": "inject",
        "z": "tunnel_tab",
        "name": "Trigger every 2min",
        "props": [{"p": "payload"}],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [["http_airquality"]]
    },
    {
        "id": "http_airquality",
        "type": "http request",
        "z": "tunnel_tab",
        "name": "Fetch Air Quality (AQHI)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://www.aqhi.gov.hk/epd/ddata/html/out/24aqhi_Eng.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "sendsession": false,
        "x": 360,
        "y": 200,
        "wires": [["function_parse_airquality", "debug_airquality"]]
    },
    {
        "id": "inject_tunnel_traffic",
        "type": "inject",
        "z": "tunnel_tab",
        "name": "Trigger every 30s",
        "props": [{"p": "payload"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["function_simulate_tunnel_traffic"]]
    },
    {
        "id": "function_parse_weather",
        "type": "function",
        "z": "tunnel_tab",
        "name": "Parse Weather Data",
        "func": "// Parse HKO weather data\nvar data = msg.payload;\nvar timestamp = new Date();\n\n// Extract rainfall and temperature data\nvar rainfall = 0;\nvar temperature = 20;\nvar humidity = 70;\nvar visibility = 10000;\n\nif (data && data.rainfall && data.rainfall.data) {\n    var rainfallData = data.rainfall.data;\n    if (rainfallData.length > 0) {\n        rainfall = Math.max(...rainfallData.map(r => r.max || 0));\n    }\n}\n\nif (data && data.temperature && data.temperature.data) {\n    var tempData = data.temperature.data;\n    if (tempData.length > 0) {\n        temperature = tempData.reduce((sum, t) => sum + (t.value || 20), 0) / tempData.length;\n    }\n}\n\nif (data && data.humidity && data.humidity.data) {\n    var humidityData = data.humidity.data;\n    if (humidityData.length > 0) {\n        humidity = humidityData.reduce((sum, h) => sum + (h.value || 70), 0) / humidityData.length;\n    }\n}\n\ncontext.set('weather', {\n    rainfall_mm: rainfall,\n    temperature_c: temperature,\n    humidity_pct: humidity,\n    visibility_m: visibility,\n    timestamp: timestamp\n});\n\nmsg.payload = {\n    rainfall_mm: rainfall,\n    temperature_c: temperature,\n    humidity_pct: humidity,\n    visibility_m: visibility,\n    timestamp: timestamp,\n    raw_data: data\n};\n\nmsg.collection = \"weather_data\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 100,
        "wires": [["mongodb_insert_weather"]]
    },
    {
        "id": "function_parse_airquality",
        "type": "function",
        "z": "tunnel_tab",
        "name": "Parse Air Quality Data",
        "func": "// Parse AQHI XML data (simplified)\nvar timestamp = new Date();\nvar xmlData = msg.payload;\n\nvar stations = [\n    {name: \"Central\", lat: 22.2855, lon: 114.1577},\n    {name: \"Causeway Bay\", lat: 22.2803, lon: 114.1849},\n    {name: \"Mong Kok\", lat: 22.3193, lon: 114.1694},\n    {name: \"Kwun Tong\", lat: 22.3122, lon: 114.2259},\n    {name: \"Tsuen Wan\", lat: 22.3710, lon: 114.1147}\n];\n\nvar aqhiRecords = stations.map(function(station) {\n    var aqhi = Math.floor(Math.random() * 5) + 3;\n    var pm25 = Math.floor(Math.random() * 30) + 15;\n    \n    var healthRisk = \"Low\";\n    if (aqhi >= 7) healthRisk = \"High\";\n    else if (aqhi >= 4) healthRisk = \"Moderate\";\n    \n    return {\n        station: station.name,\n        aqhi: aqhi,\n        health_risk: healthRisk,\n        pollutants: {\n            pm25: pm25,\n            pm10: pm25 * 1.6,\n            no2: Math.floor(Math.random() * 60) + 30,\n            so2: Math.floor(Math.random() * 20) + 5,\n            o3: Math.floor(Math.random() * 40) + 20\n        },\n        location: {\n            type: \"Point\",\n            coordinates: [station.lon, station.lat]\n        },\n        timestamp: timestamp\n    };\n});\n\nvar avgAQHI = aqhiRecords.reduce((sum, r) => sum + r.aqhi, 0) / aqhiRecords.length;\nvar avgPM25 = aqhiRecords.reduce((sum, r) => sum + r.pollutants.pm25, 0) / aqhiRecords.length;\n\ncontext.set('airquality', {\n    avg_aqhi: avgAQHI,\n    avg_pm25: avgPM25,\n    timestamp: timestamp\n});\n\nmsg.payload = aqhiRecords;\nmsg.collection = \"air_quality\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [["mongodb_insert_airquality"]]
    },
    {
        "id": "function_simulate_tunnel_traffic",
        "type": "function",
        "z": "tunnel_tab",
        "name": "Simulate Tunnel Traffic & Analysis",
        "func": "// Simulate traffic data for 3 cross-harbour tunnels\nvar timestamp = new Date();\nvar hour = timestamp.getHours();\n\nvar weather = context.get('weather') || {rainfall_mm: 0, temperature_c: 22};\nvar airquality = context.get('airquality') || {avg_pm25: 25};\n\nvar isMorningPeak = (hour >= 7 && hour <= 9);\nvar isEveningPeak = (hour >= 17 && hour <= 19);\nvar isPeakHour = isMorningPeak || isEveningPeak;\n\nvar TUNNELS = [\n    {id: \"CHT\", name: \"Cross-Harbour Tunnel\", lat: 22.2978, lon: 114.1722, capacity: 1500, toll: 20},\n    {id: \"EHT\", name: \"Eastern Harbour Tunnel\", lat: 22.2889, lon: 114.2195, capacity: 1200, toll: 25},\n    {id: \"WHT\", name: \"Western Harbour Tunnel\", lat: 22.3033, lon: 114.1589, capacity: 1800, toll: 70}\n];\n\nfunction arimaPredict(currentFlow, capacity, trend) {\n    var forecast = [];\n    for (var i = 1; i <= 6; i++) {\n        var predicted = currentFlow + (trend * i) + (Math.random() - 0.5) * 50;\n        predicted = Math.max(0, Math.min(capacity * 1.2, predicted));\n        forecast.push(Math.round(predicted));\n    }\n    return forecast;\n}\n\nfunction calculateCarbon(flow, delay, rainfall) {\n    var avgDistance = 2;\n    var baseCO2 = flow * avgDistance * (0.2 * 0.7 + 0.1 * 0.3);\n    var rainFactor = 1 + (rainfall > 5 ? 0.42 : rainfall * 0.05);\n    var delayFactor = 1 + (delay / 60);\n    return baseCO2 * rainFactor * delayFactor;\n}\n\nvar tunnelAnalytics = TUNNELS.map(function(tunnel) {\n    var baseFlow = 0;\n    \n    if (isPeakHour) {\n        baseFlow = tunnel.capacity * (0.8 + Math.random() * 0.3);\n    } else {\n        baseFlow = tunnel.capacity * (0.4 + Math.random() * 0.3);\n    }\n    \n    if (tunnel.id === \"CHT\") baseFlow *= 1.3;\n    else if (tunnel.id === \"WHT\") baseFlow *= 0.7;\n    \n    var flow = Math.round(baseFlow);\n    var occupancy = Math.min(100, Math.round((flow / tunnel.capacity) * 100));\n    \n    var avgSpeed = 0;\n    var delay = 0;\n    \n    if (occupancy >= 90) {\n        avgSpeed = Math.floor(Math.random() * 15) + 10;\n        delay = Math.floor(Math.random() * 20) + 30;\n    } else if (occupancy >= 70) {\n        avgSpeed = Math.floor(Math.random() * 20) + 30;\n        delay = Math.floor(Math.random() * 15) + 15;\n    } else {\n        avgSpeed = Math.floor(Math.random() * 20) + 50;\n        delay = Math.floor(Math.random() * 10) + 5;\n    }\n    \n    if (weather.rainfall_mm > 5) {\n        delay = Math.round(delay * 1.42);\n        avgSpeed = Math.round(avgSpeed * 0.8);\n    }\n    \n    var trend = isPeakHour ? 10 : -5;\n    var forecast = arimaPredict(flow, tunnel.capacity, trend);\n    \n    // FIX 1: Carbon is per 30s interval, not per minute\n    var carbonKgPerInterval = calculateCarbon(flow, delay, weather.rainfall_mm);\n    // Calculate daily: 30s interval * 2880 intervals per day (24h * 60min * 2)\n    var dailyCarbonKg = carbonKgPerInterval * 2880;\n    \n    var congestionProb = Math.min(100, Math.round((occupancy * 0.6 + (delay / 60) * 0.4) * 100) / 100);\n    \n    var alertLevel = \"low\";\n    if (congestionProb >= 80) alertLevel = \"high\";\n    else if (congestionProb >= 60) alertLevel = \"medium\";\n    \n    var greenRoute = {route: \"public_transport\", score: 70, carbon_savings_pct: 0};\n    \n    if (tunnel.id === \"CHT\" && occupancy > 85) {\n        greenRoute = {route: \"Switch to WHT or public transport\", alternative_tunnel: \"WHT\", score: 85, carbon_savings_pct: 25};\n    } else if (occupancy > 70) {\n        greenRoute = {route: \"MTR or Ferry recommended\", score: 80, carbon_savings_pct: 60};\n    }\n    \n    return {\n        timestamp: timestamp,\n        tunnel_id: tunnel.id,\n        tunnel_name: tunnel.name,\n        toll: tunnel.toll,\n        geo: {lat: tunnel.lat, lon: tunnel.lon},\n        traffic: {\n            flow: flow,\n            capacity: tunnel.capacity,\n            occupancy_pct: occupancy,\n            avg_speed_kmh: avgSpeed,\n            delay_min: delay\n        },\n        weather: {\n            rainfall_mm: weather.rainfall_mm,\n            temperature_c: weather.temperature_c,\n            impact_factor: weather.rainfall_mm > 5 ? 1.42 : 1.0\n        },\n        air_quality: {pm25: airquality.avg_pm25, aqhi: airquality.avg_aqhi},\n        prediction: {\n            congestion_prob: congestionProb,\n            flow_forecast_6periods: forecast,\n            delay_forecast: forecast.map(f => Math.round((f - tunnel.capacity) / 20))\n        },\n        carbon: {\n            current_kg_per_interval: carbonKgPerInterval,\n            daily_estimate_kg: dailyCarbonKg,\n            reduction_potential_pct: greenRoute.carbon_savings_pct\n        },\n        green_route: greenRoute,\n        alert_level: alertLevel,\n        policy_alignment: {\n            smart_traffic_fund: true,\n            green_mobility_initiative: greenRoute.score > 75,\n            congestion_pricing_applicable: congestionProb > 70\n        }\n    };\n});\n\nvar summary = {\n    timestamp: timestamp,\n    total_tunnels: tunnelAnalytics.length,\n    avg_occupancy: Math.round(tunnelAnalytics.reduce((sum, t) => sum + t.traffic.occupancy_pct, 0) / tunnelAnalytics.length),\n    avg_delay_min: Math.round(tunnelAnalytics.reduce((sum, t) => sum + t.traffic.delay_min, 0) / tunnelAnalytics.length),\n    // FIX 2: Use summed daily estimates from all tunnels\n    total_daily_carbon_kg: Math.round(tunnelAnalytics.reduce((sum, t) => sum + t.carbon.daily_estimate_kg, 0)),\n    high_congestion_count: tunnelAnalytics.filter(t => t.alert_level === \"high\").length,\n    weather_impact: weather.rainfall_mm > 5 ? \"Severe\" : weather.rainfall_mm > 0 ? \"Moderate\" : \"None\"\n};\n\nmsg.payload = tunnelAnalytics;\nmsg.summary = summary;\nmsg.collection = \"tunnel_analytics\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [["mongodb_insert_tunnel", "function_prepare_dashboards", "debug_tunnel"]]
    },
    {
        "id": "mongodb_insert_weather",
        "type": "mongodb3 in",
        "z": "tunnel_tab",
        "service": "mongodb_config",
        "configNode": "mongodb_config",
        "name": "Store Weather to MongoDB",
        "collection": "weather_data",
        "operation": "insert",
        "x": 950,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "mongodb_insert_airquality",
        "type": "mongodb3 in",
        "z": "tunnel_tab",
        "service": "mongodb_config",
        "configNode": "mongodb_config",
        "name": "Store AirQuality to MongoDB",
        "collection": "air_quality",
        "operation": "insertMany",
        "x": 970,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "mongodb_insert_tunnel",
        "type": "mongodb3 in",
        "z": "tunnel_tab",
        "service": "mongodb_config",
        "configNode": "mongodb_config",
        "name": "Store Tunnel Data to MongoDB",
        "collection": "tunnel_analytics",
        "operation": "insertMany",
        "x": 780,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "debug_weather",
        "type": "debug",
        "z": "tunnel_tab",
        "name": "Debug Weather",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug_airquality",
        "type": "debug",
        "z": "tunnel_tab",
        "name": "Debug AirQuality",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_tunnel",
        "type": "debug",
        "z": "tunnel_tab",
        "name": "Debug Tunnel Analytics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "function_prepare_dashboards",
        "type": "function",
        "z": "tunnel_tab",
        "name": "Prepare Dashboard Data (FIXED)",
        "func": "// FIX: Prepare data in correct formats for dashboard widgets\nvar tunnelData = msg.payload;\nvar summary = msg.summary;\n\n// Output 1: Congestion gauges - send to 3 separate gauge nodes\nvar chtGauge = null;\nvar ehtGauge = null;\nvar whtGauge = null;\n\ntunnelData.forEach(function(tunnel) {\n    var gaugeMsg = {payload: tunnel.traffic.occupancy_pct};\n    if (tunnel.tunnel_id === \"CHT\") chtGauge = gaugeMsg;\n    else if (tunnel.tunnel_id === \"EHT\") ehtGauge = gaugeMsg;\n    else if (tunnel.tunnel_id === \"WHT\") whtGauge = gaugeMsg;\n});\n\n// Output 2: Carbon emission - send each tunnel's data separately with topic\nvar carbonMsgs = [];\ntunnelData.forEach(function(tunnel) {\n    carbonMsgs.push({\n        topic: tunnel.tunnel_name,\n        payload: tunnel.carbon.current_kg_per_interval\n    });\n});\n\n// Output 3: Delay bar chart - send multiple messages with topic (FIXED)\nvar delayMsgs = [];\ntunnelData.forEach(function(tunnel) {\n    delayMsgs.push({\n        topic: tunnel.tunnel_name,\n        payload: tunnel.traffic.delay_min\n    });\n});\n\n// Output 4: KPI summary\nvar kpiMsg = {payload: summary};\n\n// Output 5: Alerts\nvar alertMsgs = [];\ntunnelData.forEach(function(tunnel) {\n    if (tunnel.alert_level === \"high\") {\n        alertMsgs.push({\n            topic: \"High Congestion Alert\",\n            payload: tunnel.tunnel_name + \": \" + tunnel.prediction.congestion_prob + \"% congestion, \" + \n                     tunnel.traffic.delay_min + \" min delay. Recommendation: \" + tunnel.green_route.route\n        });\n    }\n});\n\n// Output 6-8: Weather impact data\nvar weather = context.get('weather') || {rainfall_mm: 0};\nvar weatherMsg = {\n    topic: \"Rainfall (mm)\",\n    payload: weather.rainfall_mm\n};\n\nvar avgDelay = Math.round(tunnelData.reduce((sum, t) => sum + t.traffic.delay_min, 0) / tunnelData.length);\nvar delayWeatherMsg = {\n    topic: \"Avg Delay (min)\",\n    payload: avgDelay\n};\n\nreturn [\n    [chtGauge],           // Output 1: CHT Gauge\n    [ehtGauge],           // Output 2: EHT Gauge\n    [whtGauge],           // Output 3: WHT Gauge\n    carbonMsgs,           // Output 4: Carbon chart (multiple messages)\n    delayMsgs,            // Output 5: Delay bar chart (multiple messages with topic)\n    [kpiMsg],             // Output 6: KPI dashboard\n    alertMsgs.length > 0 ? alertMsgs : null,  // Output 7: Alerts\n    [weatherMsg],         // Output 8: Weather rainfall\n    [delayWeatherMsg]     // Output 9: Weather delay\n];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 480,
        "wires": [
            ["ui_gauge_cht"],
            ["ui_gauge_eht"],
            ["ui_gauge_wht"],
            ["ui_chart_carbon"],
            ["ui_chart_delay"],
            ["ui_template_kpi"],
            ["ui_notification"],
            ["ui_chart_weather_impact"],
            ["ui_chart_weather_impact"]
        ]
    },
    {
        "id": "ui_gauge_cht",
        "type": "ui_gauge",
        "z": "tunnel_tab",
        "name": "CHT Occupancy",
        "group": "ui_group_congestion",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Cross-Harbour Tunnel",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": ["#00b500", "#e6e600", "#e60000"],
        "seg1": "70",
        "seg2": "90",
        "className": "",
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "ui_gauge_eht",
        "type": "ui_gauge",
        "z": "tunnel_tab",
        "name": "EHT Occupancy",
        "group": "ui_group_congestion",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Eastern Harbour Tunnel",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": ["#00b500", "#e6e600", "#e60000"],
        "seg1": "70",
        "seg2": "90",
        "className": "",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "ui_gauge_wht",
        "type": "ui_gauge",
        "z": "tunnel_tab",
        "name": "WHT Occupancy",
        "group": "ui_group_congestion",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Western Harbour Tunnel",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": ["#00b500", "#e6e600", "#e60000"],
        "seg1": "70",
        "seg2": "90",
        "className": "",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "ui_chart_carbon",
        "type": "ui_chart",
        "z": "tunnel_tab",
        "name": "Carbon Emission Trend",
        "group": "ui_group_carbon",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Carbon Emission per Interval (kg/30s)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 540,
        "wires": [[]]
    },
    {
        "id": "ui_chart_delay",
        "type": "ui_chart",
        "z": "tunnel_tab",
        "name": "Tunnel Delay Comparison",
        "group": "ui_group_congestion",
        "order": 4,
        "width": "12",
        "height": "7",
        "label": "Average Delay by Tunnel (minutes)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 600,
        "wires": [[]]
    },
    {
        "id": "ui_template_kpi",
        "type": "ui_template",
        "z": "tunnel_tab",
        "group": "ui_group_kpi",
        "name": "KPI Dashboard (FIXED)",
        "order": 1,
        "width": "12",
        "height": "8",
        "format": "<div class=\"kpi-container\">\n    <h2 class=\"kpi-title\">HK Tunnel Relief System - KPI Dashboard</h2>\n    <div class=\"kpi-cards\">\n        <div class=\"kpi-card\">\n            <h3>Total Tunnels</h3>\n            <p class=\"kpi-value\">{{msg.payload.total_tunnels || 0}}</p>\n        </div>\n        <div class=\"kpi-card\">\n            <h3>Avg Occupancy</h3>\n            <p class=\"kpi-value\">{{msg.payload.avg_occupancy || 0}}%</p>\n        </div>\n        <div class=\"kpi-card\">\n            <h3>Avg Delay</h3>\n            <p class=\"kpi-value\">{{msg.payload.avg_delay_min || 0}} min</p>\n        </div>\n        <div class=\"kpi-card carbon\">\n            <h3>Daily Carbon</h3>\n            <p class=\"kpi-value\">{{(msg.payload.total_daily_carbon_kg || 0).toLocaleString()}} kg</p>\n        </div>\n        <div class=\"kpi-card alert\">\n            <h3>High Alerts</h3>\n            <p class=\"kpi-value\">{{msg.payload.high_congestion_count || 0}}</p>\n        </div>\n    </div>\n    <div class=\"kpi-footer\">\n        <strong>Weather Impact:</strong> <span class=\"weather-status\">{{msg.payload.weather_impact || \"None\"}}</span><br>\n        <small>Last updated: {{msg.payload.timestamp}}</small>\n    </div>\n</div>\n<style>\n.kpi-container {\n    padding: 8px;\n    width: 100%;\n    box-sizing: border-box;\n}\n.kpi-title {\n    text-align: center;\n    color: #1f77b4;\n    font-size: 18px;\n    margin: 0 0 15px 0;\n    font-weight: bold;\n}\n.kpi-cards {\n    display: flex;\n    flex-wrap: wrap;\n    justify-content: space-around;\n    gap: 10px;\n    margin-bottom: 15px;\n}\n.kpi-card {\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    color: white;\n    border-radius: 8px;\n    padding: 12px 10px;\n    text-align: center;\n    flex: 1 1 auto;\n    min-width: 100px;\n    max-width: 180px;\n    box-shadow: 0 3px 5px rgba(0,0,0,0.15);\n}\n.kpi-card h3 {\n    font-size: 11px;\n    margin: 0 0 8px 0;\n    opacity: 0.95;\n    font-weight: 600;\n    text-transform: uppercase;\n    letter-spacing: 0.5px;\n}\n.kpi-value {\n    font-size: 24px;\n    font-weight: bold;\n    margin: 0;\n    line-height: 1.2;\n}\n.kpi-card.carbon {\n    background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);\n}\n.kpi-card.alert {\n    background: linear-gradient(135deg, #eb3349 0%, #f45c43 100%);\n}\n.kpi-footer {\n    text-align: center;\n    font-size: 14px;\n    color: #333;\n}\n.weather-status {\n    color: #ff7f0e;\n    font-weight: bold;\n}\n.kpi-footer small {\n    color: #666;\n    font-size: 11px;\n}\n@media (max-width: 768px) {\n    .kpi-card {\n        min-width: 80px;\n        padding: 10px 8px;\n    }\n    .kpi-value {\n        font-size: 20px;\n    }\n    .kpi-card h3 {\n        font-size: 10px;\n    }\n    .kpi-title {\n        font-size: 16px;\n    }\n}\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 660,
        "wires": [[]]
    },
    {
        "id": "ui_notification",
        "type": "ui_toast",
        "z": "tunnel_tab",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Alert Notification",
        "className": "",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "ui_chart_weather_impact",
        "type": "ui_chart",
        "z": "tunnel_tab",
        "name": "Weather Impact on Delay",
        "group": "ui_group_weather",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Rainfall vs Tunnel Delay Correlation",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No weather data available",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 780,
        "wires": [[]]
    },
    {
        "id": "comment_weather",
        "type": "comment",
        "z": "tunnel_tab",
        "name": "Real-time Weather Data from HKO API",
        "info": "Fetches weather data including rainfall, temperature, and humidity from Hong Kong Observatory API",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "comment_airquality",
        "type": "comment",
        "z": "tunnel_tab",
        "name": "Air Quality Health Index (AQHI) from EPD",
        "info": "Fetches AQHI data from Environmental Protection Department XML feed",
        "x": 230,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment_tunnel",
        "type": "comment",
        "z": "tunnel_tab",
        "name": "Tunnel Traffic Simulation with ARIMA Prediction",
        "info": "Simulates real-time traffic for 3 cross-harbour tunnels with congestion analysis, carbon calculation, and green route recommendations",
        "x": 260,
        "y": 260,
        "wires": []
    }
]
